@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: rgb(255, 255, 228);
    color: rgb(0, 0, 0);

}

.cabecalho {
    padding: 3% 10%;

}

.cabecalho__menu {
    display: flex;
    /* justify-content: flex-start; */
    gap: 40px;
}

.cabecalho__menu__link {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #242424;
    text-decoration: none;
}

/* .cabecalho__menu__link :hover {
    color: #007bff;
} */

.apresentacao {
    padding: 0% 10%;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* gap: 10px; */
}

.apresentacao__conteudo__titulo {
    font-family: "Krona One", sans-serif;
    font-size: 23px;
    color: #242424;
    padding: 0px 0px 10px 0px;
}

.apresentacao__conteudo__cabecalho {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 0px 10px 0px;
}

.apresentacao__conteudo__objetivos {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #242424;
    padding: 0px 0px 10px 0px;
}

.apresentacao__conteudo__objetivos_descricao {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 0px 10px 0px;
}

.apresentacao__conteudo__formacao {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #242424;
    padding: 0px 0px 10px 0px;
}

.apresentacao__conteudo__formacao_descricao {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 0px 10px 0px;
}

.apresentacao__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 0px 0px 10px 0px;
}

.apresentacao__links__link {
    background-color: rgb(255, 255, 228);
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 278px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #242424;
    padding: 21.5px 20px;
    font-family: "Montserrat", sans-serif;
    color: #242424;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao__links__link:hover {
    background-color: rgb(231, 226, 226);
    padding: 5%;
    border: 2px solid #4b4b6d;
    
}

.experiencias__profissionais {
    width: 615px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.experiencias__profissionais__titulo {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #242424;
    padding: 0px 0px 10px 0px;
}

.experiencias__profissionais__titulo__granbelo{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #242424;
    padding: 0px 0px 10px 0px;
}

.experiencias__profissionais__titulo__granbelo__descricao {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 0px 10px 0px;
}

.rodape {
    color: white;
    background-color: #242424;
    padding: 24px;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}